body {
  margin: 0%;
}

h2{
  text-align: center;
  margin-right: 200px;
}
#nameBut{
  margin-right: 200px;
  height: 30px;

}
#passBut{
  margin-right: 200px;
  height: 30px;
}
button{
  margin-right: 220px;
  font-size: 95%;
}
p{
  display: none;
}

